h1{
   margin: 0;
}
body {
   margin: 0;
}
ul {
   padding: 0;
   margin: 0;
   list-style: none;
}
a {
   color: inherit;
   text-decoration: inherit;
}
table {
   border-collapse: collapse;
}
.container {
   max-width: 1110px;
   margin: 0 auto;
}
.body_informationAboutWine_backgroundColor {
   background-color: #282828;
   padding: 100px 0;
}
.body_newWine_backgroundColor {
   background-color: #E6E3C4;
   padding: 100px 0;
}
.body_registration_backgroundColor {
   background-color: #282828;
}
.footer_backgroundColor {
   background-color: #998431;
}
.header_backgroundImage {
   background-image: url(sours/img/bgc.png);
   background-size: cover;
   height: 900px;
   position: relative;
   /*Как установить автоматически максимальный размер изображения?*/
}

.headerColor {
   color: #ffffff;
}
.header_feetback {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 30px;
   margin-bottom: 31px;
   padding-top: 30px;
}
.header_navbar {
   width: 100%;
   text-align: center;
}
.header_table_border td {
   border: solid 1px #ffffff;
   padding: 11px;
}
.header_table_border td:first-of-type {
   border-left: 0;
}
.header_table_border td:last-of-type {
   border-right: 0;
}
.header_buttons {
   display: flex;
   justify-content: center;
   margin-top: 583px;
   /*АААААААААААААААААААААААААААААААА!!!!!!!!!!!!!!!!!!*/
   gap: 10px;
}
.header_buttons button {
   padding: 15px 30px;
   background: #99862A;
   color: #ffffff;
   border: 0;
}

.body_informationAboutWine {
   color: #ffffff;
   border: 2px solid #ffffff;
   box-sizing: border-box;
   padding: 0 100px;
   margin: 0 auto;
   text-align: center;
   max-width: 80%;
}
.body_informationAboutWine_header {
   font-size: 36px;
   line-height: 150%;
   margin-top: 60;
   margin-bottom: 80px;
   text-align: center;
   max-width: 1000px;
   position: relative;
}
.body_informationAboutWine_header::after {
   content: '';
   position: absolute;
   display: block;
   border: #ffffff 1px solid;
   height: 0px;
   width: 160px;
   color: #ffffff;
   margin: 0 auto;
   left: 0;
   right: 0;
   margin-top: 40px;
}
.body_informationAboutWine_main {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   margin: 0;
   text-align: center;
}
.imgBokalWina {
   margin-top: 50px;
   margin-bottom: 60px;
}


.body_newWine {
   display: flex;
   flex-direction: row;
}
.body_newWine_text {
   display: flex;
   flex-direction: column;
   width: 50%;
}
.body_newWine_img {
   display: flex;
   flex-direction: column;
   width: 50%;
}
.body_newWine_text_header {
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   color: #282828;
}
.body_newWine_text_main {
   font-size: 36px;
   line-height: 150%;
   color: #282828;
   margin-bottom: 60px;
}
.body_newWine_text_main::after {
   content: '';
   position: absolute;
   display: block;
   border: #282828 1px solid;
   height: 0px;
   width: 160px;
   color: #ffffff;
   margin-top: 30px;
}
.body_newWine_text_footer {
   font-weight: 400;
   font-size: 14px;  
   line-height: 150%;  
   color: #282828;
   margin-top: 0;
   margin-bottom: 30px;
}
.body_table_of_collections {
   margin-bottom: 30px;
}
.body_table_of_collections td {
   border: 1px solid #282828;
}
.body_table_of_collections tr td:first-of-type {
   text-align: center;
   border-top: 0;
   border-left: 0;
}
.body_table_of_collections tr:last-of-type td {
   border-bottom: 0;
}
.body_table_of_collections tr td:last-of-type {
   border-top: 0;
   border-right: 0;
}
.body_table_of_collections td p:first-of-type {
   margin: 24px 24px 5px 24px; 
}
.body_table_of_collections td p:last-of-type {
   margin: 5px 24px 24px 24px; 
}

.body_table_of_collections td p:first-of-type {
   font-size: 18px;
   line-height: 150%;
   color: #282828; 
}
.body_table_of_collections td p:last-of-type {
   font-weight: 400;
   font-size: 14px;
   line-height: 150%;
   color: #282828;
}
.body_newWine_footer {
   margin-top: 0;
   margin-bottom: 30px;
   font-weight: 400;
   font-size: 14px;
   line-height: 150%;
   color: #282828;
}
.body_newWine_button {
   width: 254px;
   color: #ffffff;
   background: #998431;
   align-items: center;
   padding: 15px 30px;
   border: 0;
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   color: #FFFFFF;
}